<%= form_for @status, :html => { :class => 'form_horizontal' } do |f| %>
    <div class="control-group">
    <%= f.label :kind, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :kind_id, Kind.all, :id, :name, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comment, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :completed, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :completed, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :video, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :video_id, Video.all, :id, :name, :class => 'number_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                statuses_path, :class => 'btn' %>
  </div>
<% end %>
