<%= simple_form_for @video, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :current, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current, :disable=> true, :class => 'text_field' %>
    </div>
  </div>
      <div class="control-group">
    <%= f.label :dateFilmed, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :dateFilmed%>

    </div>
  </div>
    <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :location, ["Mission","Russian Hill","Marina","Nob Hill", "Pacific Heights", "Presidio"],:class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :track, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :track_id, Track.all, :id, :name, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                videos_path, :class => 'btn' %>
  </div>
<% end %>
