<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :current %><br />
    <%= f.text_field :current, :disabled=>true%>
  </div>
  <div class="field">
    <%= f.label :track %><br />
    <%= f.collection_select :track_id, Track.all, :id, :name %>
  </div>

  <% @video.statuses.each do |status| %>
     <% new_or_existing = status.new_record? ? 'new' : 'existing' %> 
    <% prefix = "video[#{new_or_existing}_status_attributes][]" %> 
    
    <%= fields_for prefix,status do |status_form| %>
      <p>
        <div>
          <%= status_form.label :kind, 'Step:' %>
    <%= status_form.collection_select :kind_id, Kind.all, :id, :name%>


          <%= status_form.label :completed, 'Status:'%>
          <%= status_form.check_box :completed %>
        </div>
      </p>
    <% end %>
  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>