<%= form_for @video  do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
     <div class="controls">
    <%= f.text_field :name, :class => 'text_field'%>
  </div>
    </div>
  <div class="control-group">
    <%= f.label :current, :class => 'control-label' %> <div class="controls">
    <%= f.text_field :current, :disabled=>true, :class => 'text_field'%>
  </div>
    </div>
  <div class="control-group">
    <%= f.label :track, :class => 'control-label' %> <div class="controls">
    <%= f.collection_select :track_id, Track.all, :id, :name, :class => 'number_field'%>
  </div>
    </div>

  <% @video.statuses.each do |status| %>
     <% new_or_existing = status.new_record? ? 'new' : 'existing' %> 
    <% prefix = "video[#{new_or_existing}_status_attributes][]" %> 
    
    <%= fields_for prefix,status do |status_form| %>
        <div class="row">
         <div class="span2"> <%= status_form.label :completed, status.kind_name %></div><div class="span1">
          <%= status_form.check_box :completed %></div>
<div class="span1">
     <%= status_form.select :progress, ["","Copying","Processing","DONE","ISSUE"],:class => 'number_field' %></div>
          <%= status_form.label :comment%></div><div class="span3">
          <%=status_form.text_field :comment, :class=>"text_field"%></div>
   
        </div>
    <% end %>
  <% end %>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                videos_path, :class => 'btn' %>
  </div>
<% end %>