<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @video.name %>
</p>
<p>
  <b>Current:</b>
  <%= @video.current %>
</p>

<p>
  <b>Track:</b>
  <%= @video.track_name %>
</p>
<p>
  <b>Status:</b>
  <%= @video.statuses.each do |status| %>
  	<%=status.type%>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
